@model IEnumerable<Product>

@{
    ViewData["Title"] = "Farmers List";
}


<div class="transparent-card">
	<h1>Farmers</h1>

	<form method="get" asp-action="Index">
		<div>
			<label for="category">Product Category:</label>
			<select id="category" name="category">
				<option value="">--All Categories--</option>
				@foreach (var item in ViewBag.Categories)
				{
					<option value="@item.Value" selected="@item.Selected">@item.Text</option>
				}
			</select>
		</div>
		<div>
			<label for="farmType">Farm Type:</label>
			<select id="farmType" name="farmType">
				<option value="">--All Farm Types--</option>
				@foreach (var item in ViewBag.FarmTypes)
				{
					<option value="@item.Value" selected="@item.Selected">@item.Text</option>
				}
			</select>
		</div>
		<div>
			<label for="startDate">Start Date:</label>
			<input type="date" id="startDate" name="startDate" value="@ViewBag.StartDate" />
		</div>
		<div>
			<label for="endDate">End Date:</label>
			<input type="date" id="endDate" name="endDate" value="@ViewBag.EndDate" />
		</div>
		<button class="btn btn-outline-light" type="submit">Filter</button>
	</form>

	<br />

	<table class="table table-responsive table-dark">
		<thead>
			<tr>
				<th>Product Name</th>
				<th>Production Date</th>
				<th>Category</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Contact</th>
				<th>Address</th>
				<th>Farm Type</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var product in Model)
			{
				<tr>
					<td>@product.ProductName</td>
					<td>@product.ProductionDate?.ToString("yyyy-MM-dd")</td>
					<td>@product.Category</td>
					<td>@product.UserModel?.FirstName</td>
					<td>@product.UserModel?.Surname</td>
					<td>@product.UserModel?.ContactNumber</td>
					<td>@product.FarmerModel?.Address</td>
					<td>@product.FarmerModel?.FarmType</td>
				</tr>
			}
		</tbody>
	</table>
</div>